/*nav*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;

}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header{
    background-color: #3c5b2a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}

.header .logo{
    cursor: pointer;
}

.header .logo img{
    height: 85px;
    width: auto;
    transition: all 0.3s;
}

.header .logo img:hover{
    transform: scale(1.2);
}

.header .nav-links{
    list-style: none;
}

.header .nav-links li{
    display: inline-block;
    padding: 0 20px;    
}

.header .nav-links li:hover{
    transform: scale(1.1);
}

.header .nav-links a{
    font-size: 700;
    color: #eceff1;
    text-decoration: none;    
    font-size: 20px;
}

.header .nav-links li a:hover{
    color: #ffbc0e;
}

.header .btn button{
    font-weight: 700;
    color: #1b3039;
    padding: 9px 25px;
    background: #eceff1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn button:hover{
    background-color: #e2f1f8;
    color: #ffbc0e;
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .category-grid {
        flex-direction: column;
        align-items: center;
    }

    .category-item {
        width: 80%;
        margin-bottom: 1em;
    }
    
}


/*footer*/

  .footer {
    position: relative;
    width: 100%;
    background: #9370DB;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    text-align: center;
  }
  
  .social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 10px 5px;
    flex-wrap: wrap;
    
  }
  
  .icon-elem {
    list-style: none;
    
  }
  
  .icon {
    color: white;
    font-size: 32px;
    display: inline-block;
    margin: 0 10px;
    transition: 0.5s;

    
  }
  
  .icon:hover {
    transform: translateY(-10px);
    
  }
  
  .menu {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }
  
  .menu-elem {
    list-style: none;
  }
  .menu-icon {
    color: white;
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    margin: 5px 10px;
    opacity: 0.5;
    transition: 0.3s;
  }
  
  .menu-icon:hover {
    opacity: 1;
  }
  
  .text {
    color: white;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 20px;
  }

/* Login */

.container-login {
    width: 25%; 
    min-width:fit-content;
    margin: 80px auto; 
    padding: 20px;
    background-color: #FFFFFF; 
    border-radius: 8px; 
    box-shadow: 0 0 10px rgba(0,0,0,0.1); 
}

.titulo-div-login h1 {
    color: #9370DB; 
    text-align: center;
    margin-bottom: 50px;
    font-size: 40px;
}

#Login {
    margin-top: 20px;
}

#Login label{
    font-size: 20px;
}

#Login input{
    margin: 20px 0px;
    width: 100%;
    font-size: 17px;
}

.btn-login {
    background-color: #9370DB; 
    border-width: 0px;
    color: #FFFFFF; 
    width: 100%; 
    padding: 10px;
    border-radius: 8px; 
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 18px;
    margin-top: 20px;
}

.btn-login:hover {
    background-color: #7B68EE; 
}

.texto-inf {
    display: block;
    text-align: center;
    font-size: 10px;
    margin-top: 20px;
    color: #9370DB;
    text-decoration: none;
}

.texto-inf:hover {
    color: #a496f5;
    text-decoration: underline;
}

/* Registro */

.container-registro {
    width: 35%; 
    min-width:fit-content;
    margin: 80px auto;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.titulo-div-login h1 {
    color: #9370DB;
    text-align: center;
    margin-bottom: 50px;
    font-size: 40px;
}

#Registro {
    margin-top: 20px;
}

#Registro label {
    font-size: 20px;
}

#Registro input {
    margin: 20px 0px;
    width: 100%;
    font-size: 17px;
}

#Registro .form-text{
    margin: 15px 0;
}

.btn-registro {
    background-color: #9370DB;
    border-color: #9370DB;
    border-width: 0px;
    color: #FFFFFF;
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 18px;
    margin-top: 20px;
}

.btn-registro:hover {
    background-color: #7B68EE;
}

/* Contacto */

.form-div {
    width: 35%; 
    min-width:fit-content;
    margin: 80px auto;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.titulo_form h1 {
    color: #9370DB;
    text-align: center;
    margin-bottom: 20px;
    font-size: 32px;
}

.text_form {
    text-align: center;
    margin-bottom: 30px;
    font-size: 16px;
    color: #555555;
}

.container.formulario {
    margin-top: 20px;
}

#Contacto label {
    font-size: 18px;
    color: #333333;
}

#Contacto input[type="text"],
#Contacto input[type="email"],
#Contacto textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

#Contacto textarea {
    height: 150px;
    resize: vertical;
}

.btn-enviar {
    background-color: #9370DB;
    width: 100%;
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
    margin: 10px auto;
}

.btn-enviar:hover {
    background-color: #7B68EE;
}

.alert {
    margin-top: 20px;
}

.alert-success {
    background-color: #DFF0D8;
    color: #3C763D;
    border: 1px solid #D6E9C6;
    border-radius: 4px;
    padding: 10px;
}

.alert-dismissible {
    position: relative;
    padding-right: 35px;
    margin-bottom: 15px;
    margin-top: 20px;
}

.alert-dismissible .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 15px;
    color: inherit;
}

/* Horario */

.horario-container{
    width: 60%; 
    min-width:fit-content;
    margin: 80px auto;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.horario-div {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.horario-div table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.horario-div th,
.horario-div td {
    padding: 15px;
    border: none;
    font-size: 22px;
}

.horario-div th {
    background-color: #d495e463;
    font-weight: bold;
}

.horario-div td {
    background-color: #fff; 
    text-align: left;
}

.horario-div tbody tr:nth-child(even) {
    background-color: #d495e463 
}

.horario-div td:nth-child(2) {
    text-align: right;
}
/*Producto*/
.btn-agregar{
    background-color: #9370DB;;
    font-size: 20px;
    color: #ffffff;
    border-radius: 0.5rem;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 15px;
    padding-right: 15px;
}

.btn-agregar:hover{
    cursor: pointer;
    background-color: #6d52a3;
    transform: translateY(-3px);
    transition: all 0.5s ease 0s;
    transform: scale(1.1);
}

@font-face{
    font-family: "Merienda";
    src: url('../resources/Merienda-VariableFont_wght.ttf') format('truetype'); 
    font-weight: 600;
}

@font-face{
    font-family: ABeeZee;
    src: url('../resources/ABeeZee-Regular.ttf') format('truetype');
    font-weight: 400;
}

.producto-text {
    text-align: center; 
    margin-bottom: 20px;
    margin-top: 30px;
}

.producto-text h2 {
    color: #381715;
    font-family: 'Merienda', cursive;
    margin-bottom: 40px;
    text-align: center;
    font-size: 32px; 
}

.main-text h2{
    color: #381715;
    font-family: 'Merienda', cursive;
    margin-bottom: 40px;
    text-align: center;
    font-size: 32px; 
}

.menu-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 2rem;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
    margin-left: 85px;
    margin-right: 85px;
    margin-bottom: 35px;
}

.card {
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease;
    width: 100%;
    max-width: 400px;
    border-color: #9370DB;
    border-style: groove;
}

.card img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    border-style: groove;
    border-color: #9370DB;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
}

.card-content {
    padding: 1rem;
    font-family: ABeezee;
}

.card:hover {
    transform: translateY(-5px);
}

.desc-producto{
    width: 100%;
    height: 100px;
    overflow: auto;
    background-color: #d6d4d318;
    padding: 7px;
    border-radius: 10px;
    margin: 10px 0;
}

.card-content h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.card-content p {
    font-size: 1rem;
    color: #555555;
    margin-bottom: 0.5rem;
}

.card-content .price {
    color: #7a3d3c;
    font-size: 1.25rem;
    font-weight: bold;
}

.card-content a {
    display: block;
    text-align: center;
    background-color: #7a3d3c;
    color: white;
    padding: 0.75rem 1rem;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    margin-top: 1rem;
}

.card-content a:hover {
    background-color: #5b2e2d;
}