body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #9370DB;
    color: white;
    padding: 1em;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 1em;
}

.hero {
    background-image: url('hero-image.jpg');
    background-size: cover;
    color: white;
    padding: 5em 1em;
    text-align: center;
}

.categories {
    padding: 2em 1em;
    text-align: center;
}

.category-grid {
    display: flex;
    justify-content: space-around;
}

.category-item {
    background-color: #D3D3D3;
    padding: 1em;
    width: 30%;
}

footer {
    background-color: #9370DB;
    color: white;
    padding: 1em;
    text-align: center;
}

@media (max-width: 768px) {
    .category-grid {
        flex-direction: column;
        align-items: center;
    }

    .category-item {
        width: 80%;
        margin-bottom: 1em;
    }
}

/* Login */

.container-login {
    width: 25%; 
    min-width:fit-content;
    margin: 80px auto; 
    padding: 20px;
    background-color: #FFFFFF; 
    border-radius: 8px; 
    box-shadow: 0 0 10px rgba(0,0,0,0.1); 
}

.titulo-div-login h1 {
    color: #9370DB; 
    text-align: center;
    margin-bottom: 50px;
    font-size: 40px;
}

#Login {
    margin-top: 20px;
}

#Login label{
    font-size: 20px;
}

#Login input{
    margin: 20px 0px;
    width: 100%;
    font-size: 17px;
}

.btn-login {
    background-color: #9370DB; 
    border-width: 0px;
    color: #FFFFFF; 
    width: 100%; 
    padding: 10px;
    border-radius: 8px; 
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 18px;
    margin-top: 20px;
}

.btn-login:hover {
    background-color: #7B68EE; 
}

.texto-inf {
    display: block;
    text-align: center;
    font-size: 10px;
    margin-top: 20px;
    color: #9370DB;
    text-decoration: none;
}

.texto-inf:hover {
    color: #a496f5;
    text-decoration: underline;
}

/* Registro */

.container-registro {
    width: 35%; 
    min-width:fit-content;
    margin: 80px auto;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.titulo-div-login h1 {
    color: #9370DB;
    text-align: center;
    margin-bottom: 50px;
    font-size: 40px;
}

#Registro {
    margin-top: 20px;
}

#Registro label {
    font-size: 20px;
}

#Registro input {
    margin: 20px 0px;
    width: 100%;
    font-size: 17px;
}

#Registro .form-text{
    margin: 15px 0;
}

.btn-registro {
    background-color: #9370DB;
    border-color: #9370DB;
    border-width: 0px;
    color: #FFFFFF;
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 18px;
    margin-top: 20px;
}

.btn-registro:hover {
    background-color: #7B68EE;
}

/* Contacto */

.form-div {
    width: 35%; 
    min-width:fit-content;
    margin: 80px auto;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.titulo_form h1 {
    color: #9370DB;
    text-align: center;
    margin-bottom: 20px;
    font-size: 32px;
}

.text_form {
    text-align: center;
    margin-bottom: 30px;
    font-size: 16px;
    color: #555555;
}

.container.formulario {
    margin-top: 20px;
}

#Contacto label {
    font-size: 18px;
    color: #333333;
}

#Contacto input[type="text"],
#Contacto input[type="email"],
#Contacto textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

#Contacto textarea {
    height: 150px;
    resize: vertical;
}

.btn-enviar {
    background-color: #9370DB;
    width: 100%;
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
    margin: 10px auto;
}

.btn-enviar:hover {
    background-color: #7B68EE;
}

.alert {
    margin-top: 20px;
}

.alert-success {
    background-color: #DFF0D8;
    color: #3C763D;
    border: 1px solid #D6E9C6;
    border-radius: 4px;
    padding: 10px;
}

.alert-dismissible {
    position: relative;
    padding-right: 35px;
    margin-bottom: 15px;
    margin-top: 20px;
}

.alert-dismissible .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 15px;
    color: inherit;
}

/* Horario */

.horario-container{
    width: 60%; 
    min-width:fit-content;
    margin: 80px auto;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.horario-div {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.horario-div table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.horario-div th,
.horario-div td {
    padding: 15px;
    border: none;
    font-size: 22px;
}

.horario-div th {
    background-color: #d495e463;
    font-weight: bold;
}

.horario-div td {
    background-color: #fff; 
    text-align: left;
}

.horario-div tbody tr:nth-child(even) {
    background-color: #d495e463 
}

.horario-div td:nth-child(2) {
    text-align: right;
}