body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #9370DB;
    color: white;
    padding: 1em;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 1em;
}

.hero {
    background-image: url('hero-image.jpg');
    background-size: cover;
    color: white;
    padding: 5em 1em;
    text-align: center;
}

.categories {
    padding: 2em 1em;
    text-align: center;
}

.category-grid {
    display: flex;
    justify-content: space-around;
}

.category-item {
    background-color: #D3D3D3;
    padding: 1em;
    width: 30%;
}

footer {
    background-color: #9370DB;
    color: white;
    padding: 1em;
    text-align: center;
}

@media (max-width: 768px) {
    .category-grid {
        flex-direction: column;
        align-items: center;
    }

    .category-item {
        width: 80%;
        margin-bottom: 1em;
    }
}

/* Estilos para el contenedor principal */
.container-login {
    width: 400px; /* Ajusta el ancho según sea necesario */
    margin: 80px auto; /* Centra el contenedor horizontalmente */
    padding: 20px;
    background-color: #FFFFFF; /* Fondo blanco */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Sombra ligera */
}

/* Estilos para el título de inicio de sesión */
.titulo-div-login h1 {
    color: #9370DB; /* Color púrpura */
    text-align: center;
    margin-bottom: 50px;
}

/* Estilos para el formulario */
#Login {
    margin-top: 20px;
}

/* Estilos para el botón de inicio de sesión */
.btn-login {
    background-color: #9370DB; /* Color púrpura */
    border-color: #9370DB; /* Color del borde */
    color: #FFFFFF; /* Texto blanco */
    width: 100%; /* Ocupa todo el ancho disponible */
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-login:hover {
    background-color: #7B68EE; /* Color púrpura más oscuro al pasar el ratón */
}

/* Estilos para el enlace de registrarse */
.texto-inf {
    display: block;
    text-align: center;
    font-size: 15px;
    margin-top: 20px;
    color: #9370DB; /* Color púrpura */
    text-decoration: none;
}

.texto-inf:hover {
    text-decoration: underline; /* Subrayado al pasar el ratón */
}
