{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estilo Eco</title>
    <link rel="stylesheet" href="{% static 'css\style.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Inicio</a></li>
                <li><a href="{% url 'productos' %}">Productos</a></li>
                <li><a href="{% url 'contacto' %}">Contactanos</a></li>
                <li><a href="{% url 'horario' %}">Horario</a></li>
                <li><a href="#">Mensajes</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
            </ul>
            <input type="search" placeholder="buscar">
        </nav>
    </header>
    {% block content %}
    {% endblock %}
    <footer>
        <div class="contact-info">
            <p>Contáctanos | Dirección | Nosotros | Horario</p>
        </div>
        <p>&copy; Todos los derechos reservados. Ian Reyes/Victor Cornou/Ignacio Puelles/Benjamín Peñailillo, 2024</p>
    </footer>
</body>