{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estilo Eco</title>
    <link rel="stylesheet" href="{% static 'css\style.css' %}">
</head>
<body>
    <header class="header">
        <div class="logo">
            <img src=" {% static 'img/logo.png' %}"  alt="Logo de la marca"  >
        </div>
        <nav>
            <ul class="nav-links">
                <li><a href="{% url 'home' %}">Inicio</a></li>
                <li><a href="{% url 'productos' %}">Productos</a></li>
                <li><a href="{% url 'contacto' %}">Contáctanos</a></li>
                <li><a href="{% url 'horario' %}">Horario</a></li>
                <li><a href="{% url 'mensajes' %}">Mensajes</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
            </ul>
            <input type="search" placeholder="buscar">
        </nav>
        <a class="btn" href="{% url 'login' %}"><button>Iniciar Sesion</button></a>
    </header>

   {% block content %}
    {% endblock %}

   
        <footer class="footer">
          <ul class="social-icon">
            <li class="icon-elem">
              <a href="https://www.instagram.com/" class="icon">
                <ion-icon name="logo-instagram"></ion-icon>
              </a>
            </li>
            <li class="icon-elem">
              <a href="https://wa.me/56978397908" class="icon">
                <ion-icon name="logo-whatsapp"></ion-icon>
              </a>
            </li>
            <li class="icon-elem">
              <a href="https://web.facebook.com/?_rdc=1&_rdr" class="icon">
                <ion-icon name="logo-facebook"></ion-icon>
              </a>
            </li>
          </ul>

          <ul class="menu">
            <li class="menu-elem">
              <a href="{% url 'contacto' %}" class="menu-icon"> Contáctanos </a>
            </li>
            <li class="menu-elem">
              <a href="{% url 'horario' %}" class="menu-icon"> Horarios</a>
            </li>
            <li class="menu-elem">
              <a href="{% url 'home' %}" class="menu-icon"> Nosotros </a>
            </li>
            <li class="menu-elem">
              <a href="#" class="menu-icon"> Dirección </a>
            </li>
          </ul>
          <p class="text">©Todos los derechos reservados. Ian Reyes/Victor Cornou/Ignacio Puelles/Benjamin Peñailillo. 2024. </p>
        </footer>
        <script
          type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
        ></script>
        <script
          nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
        ></script> 


</body>    
</html>

  