{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    Contáctanos
{% endblock %}

{% block content %}

<div class="form-div">
    <div class="container titulo_form_top">
        <div class="titulo_form"><h1>Contáctanos</h1></div>
        <p class="text_form">Comunica tus dudas, comentarios o sugerencias por medio del siguiente formulario</p>
    </div>
    <div class="container formulario">
        {% if messages %}
        <div>
            {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}
        <form method="post" id="Contacto">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary btn-enviar">Enviar</button>
        </form>
    </div>
</div>

{% endblock %}