{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    Editar Producto
{% endblock %}

{% block content %}
<div class="container-editar">
    <div class="editar">
        <h2>Editar Producto</h2>
        <div class="mami">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary">Guardar Cambios</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}