{% extends "base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    Confirmar Eliminación de Producto
{% endblock %}

{% block content %}
<div class="container-eliminar">
    <div class="eliminar">
    <h2>¿Estás seguro de que deseas eliminar este producto?</h2>
    <p><strong>Nombre:</strong> {{ producto.nombre }}</p>
    <p><strong>Descripción:</strong> {{ producto.descripcion }}</p>
    <p><strong>Precio:</strong> {{ producto.precio }}</p>
    <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}" width="200">
    
    <form method="post">
        {% csrf_token %}
        <div class="my-2">
            <button type="submit" class="btn" style="background-color: #dc3545; width: 100px">Eliminar</button>
            <a href="{% url 'productos' %}" class="btn" style="background-color: #0000FF; width: 90px">Cancelar</a>
        </div>
    </form>
    </div>
</div>

{% endblock %}