{% extends 'base.html' %}
{% load static %}
{% block content %}
    

<section class="hero">
    <h1>Bienvenido a Estilo Eco</h1>
    <p>Lorem ipsum es simplemente el texto de relleno de las imprentas y archivos de texto...</p>
</section>

<section class="categories">
    <h2>Categoría</h2>
    <div class="category-grid">
        <a href="{% url 'textiles' %}"><div class="category-item">Textiles</div></a>
        <a href="{% url 'manualidades' %}"><div class="category-item">Manualidades</div></a>
        <a href="{% url 'insumos' %}"><div class="category-item">Insumos</div></a>
    </div>
</section>

<section class="carousel">
    <h2>Carrusel de Imágenes</h2>
    <!-- Aquí puedes agregar un carrusel de imágenes -->
</section>

{% endblock %}


