{% extends 'base.html' %}
{% load static %}

{% block title %}manualidades - Productos{% endblock %}

{% block content %}
{% load humanize %}
<section class="producto" id="producto">
    <div class="main-text">
        <h2>Manualidades</h2> 
    </div>

    <div class="menu-content">
        {% for producto in productos %}
        <div class="card">
            <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}">
            <div class="card-content">
                <h3>{{ producto.nombre }}</h3>
                <p>{{ producto.descripcion }}</p>
                <p>{{ producto.categoria}}</p>
                <p class="price">Precio: ${{ producto.precio|intcomma }}</p>
                {% if request.user.is_superuser %}
                    <a href="{% url 'editarProducto' producto.id %}" style="background-color: #9370DB;">Editar Producto</a>
                    <a href="{% url 'eliminarProducto' producto.id %}" style="background-color: #9370DB;">Eliminar Producto</a>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    
</section>
{% endblock %}