{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    Crear cuenta
{% endblock %}

{% block content %}
    <div class="container">
        <div class="container-registro">
            <div class="container titulo-login-top">
                <div class="titulo-div-login"><h1>Crear cuenta</h1></div>
                <div class="container titulo-login"></div>
            </div>
            <form id="Registro" action="" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <div>
                    <button type="submit" class="btn btn-primary btn-style btn-registro">Registrarse</button>
                </div>
            </form>
            <a class="texto-inf" href="{% url 'login' %}"><h1>Iniciar sesión</h1></a>
        </div>
    </div>
{% endblock %}